<html>
<head>
  <title>Jobify</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= csrf_meta_tags %>
  <link id="favicon" rel="shortcut icon" href=".../app/assets/images/icon.png" type="image/png">
  <%= stylesheet_link_tag "application", media: "all" %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
</head>

<body>
  <div class="half-screen-section main">
    <div class="wrapper">
      <div class="row">
        <div class="header-container">
          <h1>Welcome back!</h1>
          <!--<div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading text-center"><h1 style="font-size : 15px; text-transform : uppercase;">Recently Added Jobs</h1></div>
                <li class="list-group-item">
                  <% if @recently_added_companies %>
                    <% @recently_added_companies.each do |company| %>
                        <img draggable = "false" height="50px" width="50px" src="/icon/<%= company.name %>_icon.png">
                    <% end %>
                  <% end %>
                </li>
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </div>
  <ul class="images">
    <% if @recently_added_companies %>
      <% @recently_added_companies.each do |company| %>
        <a href = "/companies/<%= company.id %>">
          <li>
                <img style = "height: 150px; width: 150px; background : url('/bg/<%= company.name %>_bg.png');" draggable = "false" height="150px" width="150px" src="/icon/<%= company.name %>_icon.png">
          </li>
        </a>
      <% end %>
    <% end %>
  </ul>

</body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</html>
