<html>
<head>
  <title>Jobify</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= csrf_meta_tags %>
  <link id="favicon" rel="shortcut icon" href=".../app/assets/images/icon.png" type="image/png">
  <%= stylesheet_link_tag "application", media: "all" %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
</head>

<body>
  <div class="full-screen-section">
    <div class = "container text-center">
      <div class="row">
        <div class="col-md-3"></div>

          <div class="col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading"><b>Google</b> added a job! <br> <font size = "2px">Junior Software Engineer</font></div>
                <div class="panel-body">
                  <img draggable = "false" height="50px" width="50px" src="/icon/Google_icon.png">

                  <br>
                  <br>
                  <a href = "#">
                    <button class = "btn btn-primary btn-md">view</button>
                  </a>
                </div>
              </div>

        <% if @job_posts %>
          <% @job_posts.each do |company| %>
            <div class="panel panel-success">
              <div class="panel-heading">Welcome <b><%= company.id %></b> to Jobify!</div>
                <div class="panel-body">
                  <img draggable = "false" height="50px" width="50px" src="/icon/<%= company.id %>_icon.png">
                   <br><br>

                   <a href = "/companies/<%= company.id %>">
                     <button class = "btn btn-primary btn-md">view</button>
                   </a>

                   <br><br>
                   <font size = "1px"><%= time_ago_in_words(company.created_at)  %> ago.</font>
                </div>
            </div>
          <% end %>
        <% end %>

        <% if @list_all_companies %>
          <% @list_all_companies.each do |company| %>
              <div class="panel panel-success">
                <div class="panel-heading">Welcome <b><%= company.name %></b> to Jobify!</div>
                  <div class="panel-body">
                    <img draggable = "false" height="50px" width="50px" src="/icon/<%= company.name %>_icon.png">

                    <br><br>

                    <a href = "/companies/<%= company.id %>">
                      <button class = "btn btn-primary btn-md">view</button>
                    </a>

                    <br><br>
                    <font size = "1px"><%= time_ago_in_words(company.created_at)  %> ago.</font>
                  </div>
                </div>
          <% end %>
        <% end %>
      </div>

        <div class="col-md-3"></div>
</body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</html>
