<html>

<head>
  <title>Jobify | <%= @company.name %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= csrf_meta_tags %>
  <link id="favicon" rel="shortcut icon" href=".../app/assets/images/icon.png" type="image/png">
  <%= stylesheet_link_tag "application", media: "all" %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <%= javascript_include_tag "emoji", media: "all" %>
</head>

<body>

  <div class="half-screen-section" style=" background-color: #<%= @company.colour %>">
    <div class="wrapper">
      <div class="header-container">
          <img draggable="false" height="150" width="150" src="/icon_w/<%= @company.name %>_icon_w.png">
          <!--<h1 style="font-size : 35px; color : black; font-weight : 400; text-transform : uppercase;"><%= @company.name %></h1>
          <!--<a href="<%= @company.website %>"><h3 style=" color : white; font-weight : 300;"><%= @company.website %></h3></a>
          <h1 style="font-size : 40px; color : white; font-weight : 300; text-transform : uppercase;"><%= @company.rating %></h1>-->
      </div>
    </div>
  </div>

  <div class="half-screen-section">
    <div class="wrapper">
      <div class="row">
        <div class="col-md-5 col-md-offset-right-1">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <div class="col-md-3">
                <img draggable = "false" height="90px" width="90px" src="/icon/<%= @company.name %>_icon.png">
              </div>
              <h1><%= @company.rating %></h1>
              <i class="fa fa-globe" aria-hidden="true"></i> <a href="<%= @company.website %>">website</a>
            </div>
          </div>

          <div class="panel panel-default">
                      <div class="panel-heading text-center"><h1 style="text-transform : uppercase;">Jobs</h1></div>
                      <ul class="list-group">
                      <% @job.each do |j| %>
                        <li class="list-group-item">
                          <p class="text-left" style="text-transform: uppercase;">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <a href="/companies/<%= @company.id %>/jobs/<%= j.id %>" style="cursor: pointer;"><%= j.job_description %></a>
                          </p>
                          <p class="text-right"><i class="fa fa-usd" aria-hidden="true"></i><%= j.level_direct_to %></p>
                        </li>
                      <% end %>
                      </ul>
                    </div>

        </div>

        <div class= "col-md-2"></div>
        <div class="col-md-5 text-center">
          <span id="sliderChange" style="font-size: 120px; height: 100px; line-height: 170px;">💀</span>
          <input type="range" onChange="updateSlider();" value="0" id="slide" name="mySlider" min="0" max="5"/>
          <%= form_for :company_rating, url: '/companies/'+@company.id.to_s+'/rating' do |f| %>
            <input class = "comprating" id ="updatenum" type="text" name="company_rating[rating]" value="0">
            <br><br>
            <button class="btn btn-black"  type="submit">Submit</button>
          <% end %>
          <%= form_for :comment, url: '/companies/'+@company.id.to_s+'/comment' do |f| %>
            <textarea  placeholder="Enter your comment!" name="comment[ctext]" required=""/></textarea>
            <br>
            <button class="btn btn-black"  type="submit">Submit</button>
          <% end %>
        <% @comments.each do |comment| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class = "row">
                <h3 class="panel-title text-center">Comment</h3>
                <i class="fa fa-smile-o" aria-hidden="true"></i> <%= CompanyCommentUpvote.where(comment_id: comment.id).count %>
              <% c = CompanyCommentUpvote.where("student_id = #{session[:user_id]} and comment_id = #{comment.id}").count %>
              <% unless c > 0 %>
                <%= form_for :company_comment_upvote, url: '/companies/'+@company.id.to_s+'/company_comment_upvotes' do |f| %>
                  <input type="hidden" name="comment_id" value="<%= comment.id %>">
                  <button class="btn btn-black"  type="submit">upvote</button>
                <%end %>
              <% end %>
            </div>
          </div>
          <div class="panel-body"><%= comment.ctext %></div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
